language: cpp

# https://forums.gentoo.org/viewtopic-t-812074-start-0.html
# https://wiki.ubuntu.com/Testing/Proxy
# http://stuvel.eu/transproxy
# http://www.geeklab.info/2011/02/transparent-proxy-with-iptables-and-squid/

before_install:
- sudo apt-get install -y squid3 net-tools ufw

install:
#- sudo cp squid.conf /etc/squid3/squid.conf
#- sudo service squid3 start
- netstat -plunt | grep 3128

before_script:
- echo y | sudo ufw enable
- sudo ufw allow out 53/udp
- sudo ufw allow out 3128/tcp

script:
- sudo ufw deny out https
- sudo ufw deny out http
#- sudo ufw allow 3128/tcp
- sudo iptables -I OUTPUT -p tcp --dport 443 -m owner --uid-owner `id -u proxy` -j ACCEPT
- sudo iptables -I OUTPUT -p tcp --dport 80 -m owner --uid-owner `id -u proxy` -j ACCEPT
- curl -I "https://www.mapbox.com" --proxy https://127.0.0.1:3128
- wget -e use_proxy=yes -e http_proxy=127.0.0.1:3128 -e https_proxy=127.0.0.1:3128 https://github.com
- sudo cat /var/log/squid3/access.log