language: cpp

before_install:
- sudo apt-get install -y squid3 net-tools

install:
#- sudo cp squid.conf /etc/squid3/squid.conf
- sudo service squid3 start
- sudo netstat -plunt
- sudo netstat -plunt | grep 3128

before_script:
- wget -e use_proxy=yes -e http_proxy=127.0.0.1:3128 -e https_proxy=127.0.0.1:3128 https://github.com

script:
- sudo tail -f /var/log/squid3/access.log